<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="exceptionless:BaseUrl" value="https://api.exceptionless.io"/>
    <add key="exceptionless:Username" value=""/>
    <add key="exceptionless:Password" value=""/>
    <add key="exceptionless:OrgId" value=""/>

  </appSettings>
</configuration>